<ion-content>
  <section padding class="card-div">
    <ion-row class="inner-top">
      <p text-right class="p1" no-margin>Hello , john</p>
      <!-- <div>
        <button clear class="abutton" ion-button icon-only >
            <ion-badge color="danger">4</ion-badge>
            <ion-icon name="custom-chatting"></ion-icon>
          </button>
     -->
      <p text-right class="p2" no-margin>
          <ion-badge> </ion-badge>
        <ion-icon name="custom-chatting" size="large">
        </ion-icon>
       
      </p>
    </ion-row>
    <ion-card>
      <ion-card-content>
        <ion-item no-line class="amount-details">
          <p class="p1">Available Balance</p>
          <h2 *ngIf="hideAmountButton">{{amount| number:'.2'}}</h2>
          <h2 *ngIf="hideAmountButton == false">{{hiddenAmount}}</h2>
          <p (click)="hideButton()" class="p2">{{hideTextButton}}</p>
          <ion-avatar item-end>
            <img src="assets/svg/fundButton.svg">
          </ion-avatar>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <div>

    </div>
  </section>
  <ion-row class="features-row">
    <ion-col col-6>
      <div class="features">
        <ion-icon name="custom-airtime" size="large"></ion-icon>
        <p>Buy Airtime</p>
      </div>
    </ion-col>
    <ion-col col-6>
      <div class="features">
        <ion-icon name="custom-transfer" size="large"></ion-icon>
        <p>Transfer Funds</p>
      </div>
    </ion-col>
    <ion-col col-6>
      <div class="features">
        <ion-icon name="custom-bills" size="large"></ion-icon>
        <p>Pay Bills</p>
      </div>
    </ion-col>
    <ion-col col-6>
      <div class="features">
        <ion-icon name="custom-request" size="large"></ion-icon>
        <p>Request Money</p>
      </div>
    </ion-col>
  </ion-row>
  <ion-list padding>
    <ion-list-header>
      Your Recent Transactions
    </ion-list-header>
    <ion-item *ngFor="let transaction of transactions">
      <ion-avatar class="transactiondiv" item-start>
        <ion-icon color="primary" [name]="transaction.icon"></ion-icon>
      </ion-avatar>
      <h2>{{transaction.details}}</h2>
      <p>{{transaction.amount| currency: currency}}</p>
      <p item-end>{{transaction.date}}</p>
    </ion-item>
  </ion-list>

</ion-content>
